@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

<root>
    <ChatBox/>
    <VoiceList/>

    <div class="header">
        <label>Slashers</label>
        <label class="subtitle">The best gmod gamemode now on S&box.</label>
    </div>
</root>

@code
{
}